@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans-v17-latin-200-webfont.woff2') format('woff2'),
         url('../fonts/work-sans-v17-latin-200-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}


@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans-v17-latin-300-webfont.woff2') format('woff2'),
         url('../fonts/work-sans-v17-latin-300-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}


@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans-v17-latin-500-webfont.woff2') format('woff2'),
         url('../fonts/work-sans-v17-latin-500-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans-v17-latin-regular-webfont.woff2') format('woff2'),
         url('../fonts/work-sans-v17-latin-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pt-sans-v17-latin-regular-webfont.woff2') format('woff2'),
         url('../fonts/pt-sans-v17-latin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}