$font-family--global: 'Work Sans', sans-serif;
$font-family--PT-Sans: 'PT Sans', sans-serif;


$color-bg-body: #F4F5FC;
$color-blue: #5A61ED;
$color-withe: #FFFFFF;



$screen-table: 768px;
$screen-desktop: 1440px;

