.error {
    border-bottom: 2px solid #FF2828;
    color: #FF2828;
}

.error-text--pass {
    position: relative;
    &::after {
        content: "Пароль пользователя должен содержать от 8 символов, заглавные и строчные буквы, а также цифры";
        position: absolute;
        top:50px;
        max-width: 200px;
        font-size: 10px;
        line-height: 16px;
    
        color: #FF2828;
    }
}

.error-text--confirm {
    position: relative;
    &::after {
        content: "Пароль не совпадает";
        position: absolute;
        top:50px;
        max-width: 200px;
        font-size: 10px;
        line-height: 16px;
    
        color: #FF2828;
    }
}


.error-text--send-filling {
    position: relative;
    &::after {
        content: "Форма заполнена не полностью";
        position: absolute;
        top: -35px;
        left: 0;
        width: 200px;
        font-size: 10px;
        line-height: 16px;
    
        color: #FF2828;
    }
    
}

.error-text--send {
    position: relative;
    &::after {
        content: "Форма заполнена не верно";
        position: absolute;
        top: -35px;
        left: 0;
        width: 200px;
        font-size: 10px;
        line-height: 16px;
    
        color: #FF2828;
    }
    
}




